* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: red 1px solid; */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
p {
    font-size: 12px;
}
h2 {
    font-size: 24px;
    margin: 15px 0px 15px 20px;
    text-align: center;
    font-weight: 400;
}

.price {
    font-size: 18px;
}
.discount {
    font-size: 12px;
    color: #2bb442;
}
.description{
    font-size: 16px;
}
section img {
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
/********************************   Header  ********************************/
header{
    background-color: #eac926;
    padding: 10px;
}
header div img{
    width: 100%;
    padding: 5px;
}
div .logo{
    width: 50%;
}
header .header-sup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.searchbar{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-self: center;
}
.searchbar input {
    width: 70%;
    height: 25px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
}
.searchbar button{
    width: 35px;
    position: relative;
    left: -7px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
}
header div.header-sup p {
    text-align: center;
}
header ul li {
    list-style-type: none;
    margin: 5px;
}

header nav ul li{
    display: none;
}
header div.burger-menu{
    max-width: 45px;
    height: 40px;
    background-color: #0f3f93;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    margin: auto;
}
div.burger-menu i{
    padding-top: 4px;
}
.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    gap:15px;
    width: 80%;
    font-weight: 400;
}
.register input[type="text"],input[type="password"]{
    width: 100%;
    height: 30px;
    border-radius: 7px;
    padding: 0px 9px 0px 9px;
    border: none;
}
.register input[type="text"]:hover,input[type="password"]:hover{
    border: rgba(15,63,147,0.5) 2px solid;
}
.register input[type="text"]:focus,input[type="password"]:focus{
    border: rgba(15,63,147,0.5) 2px solid;
}
input[type="submit"]{
    width: 50%;
    margin: auto;
    background-color: #0f3f93;
    color: #FFF;
    border-radius: 7px;
    height: 25px;
    border: none;;
}
input:focus {
    outline: none;
}
input[type="submit"]:hover{
    background-color: #02a;
}


/********************************   Media Queris  ********************************/

/********************************   Tablets  ********************************/
@media (min-width:415px){
    .header-sup #logo, .searchbar{
        width: 50%;
    }
    header .header-sup{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    header nav{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    nav ul{
        align-self: center;
    }
    header nav ul li{
        display: inline;
    }
    div.burger-menu {
        display: none;
    }
    .register{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        gap:15px;
        width: 50%;
        font-weight: 400;
    }
}
/********************************   Desktop  ********************************/
@media (min-width:769px) {
    .header-sup .logo, .searchbar, header p{
        width: 33%;
    }
}