<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div class="header-sup">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" width="360" alt="Logo"></a>
            </div>
            <form class="searchbar" action="#" method="get">
                <input class="input" placeholder="Buscar productos, marcas... " />
                <button type="submit" title="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="ofertas">
        <img src="images/img-home-banner.jpg" alt="ofertas">
    </section>
    <!-- Contenido Principal -->
    <main>
        <!-- Ultimo Visto -->
        <section>
            <h2>Basado en tu última visita</h2>
            <div class="product">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="descriptions">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="descriptions">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="descriptions">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                        <p class="price">$23.200</p>
                        <p class="discount">15% off</p>
                        </div>
                        <h4 class="descriptions">SmartTv Samsung 43"</h4>
                </article>
            </div>
        </section>
        <!-- Ofertas -->
        <section>
            <h2>Basado en tu última visita</h2>
            <div class="product">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="descriptions">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="descriptions">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="descriptions">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="description-products">
                        <div id="truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-off">
                            <p class="price">$23.200</p>
                            <p class="discount">15% off</p>
                        </div>
                        <h4 class="descriptions">SmartTv Samsung 43"</h4>
                </article>
            </div>
        </section>
    </main>
    <!-- Contenido secundario -->
    <footer>
        <div class="cards">
            <div class="footer-card">
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con MercadoLiebreCash teneés cuotas sin interés con tarjeta o efectivo en puntos y pagos. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-card">
                <i class="fa-solid fa-gift"></i>
                <h2>Envío gratis desde los $2.500</h2>
                <p>Solo por estar registrad@ en MercadoLiebre tenés evnvíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
            </div>
            <div class="footer-card">
                <i class="fa-solid fa-user-shield"></i>
                <h2>Seguridad de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>